
*{
    margin: 0;padding: 0;
}
/* header section from here to */
#header{
    position: fixed;
    top:0;
    width: 100%;
    background-color: white;
    z-index: 9999999;
    overflow-x: hidden;
}
/* top section from here to ////////////////////////////////// */
#top{
width: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;
}
#top>div{
width: 33%;
display: flex;
justify-content: center;
padding: 10px 0px;
}
#top>div>a{
padding-left: 100px;
}
#top>div>#top-child-left{
width: 40%;
margin: auto;
display: flex;
margin-left: 200px;
justify-content: space-evenly;
}
#top>div>#top-child-left>a{
color: rgb(30, 29, 29);

font-weight:bolder;
font-size: 11px;
text-decoration: none;
}
#top>div>p{
color: rgb(30, 29, 29);
font-weight: bolder;
font-size: 11px;
}
#top>div>#top-child-right{
width: 40%;
margin: auto;
display: flex;
margin-right: 200px;
justify-content: space-evenly;
}
#top>div>#top-child-right>a{
color: rgb(30, 29, 29);
font-weight:bolder;
font-size: 11px;
text-decoration: none;
}
#top>div>#top-child-right>a:hover{
    text-decoration: underline;
}
#top>div>#top-child-left>a:hover{
text-decoration: underline;
}
/* till here ///////////////////////////////////////////////// */
/* from here middle section start  ///////////////////////////////////*/
#middle{
width: 100%;
display: flex;
justify-content: space-evenly;
}
#middle>div{
width: 40%;
display: flex;
justify-content: center;
align-items: center;
}
#middle>#yoox{
width: 20%;
font-size: 50px;   
background-color: #f3ec78;
background-image: linear-gradient(to bottom,rgb(116, 9, 116),blue,green,gray,rgb(220, 146, 8),cyan,red,brown);
background-size: 100%;
 -webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent;
}
/* #middle>#yox{
    background-color: #f3ec78;
    background-image: linear-gradient(to bottom,blue,green,yellow,red);
    background-size: 100%;
     -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
} */
#middle>#yoox>a{
text-decoration: none;
font-weight: bolder;
color: black;  
width: 80px;
font-family: 'Pathway Gothic One', sans-serif;
}
#middle>div>#middle-child-left{
width: 53%;
display: flex;
justify-content: space-between;
margin-left: 155px;

}
#middle>div>#middle-child-left>a{
color: rgb(30, 29, 29);
font-weight: bolder;
font-size: 13px;
text-decoration: none;
}
#middle>div>#middle-child-left>a:hover{
background-color: rgba(192, 192, 31, 0.974);
}
#middle>div>#middle-chile-right{
width: 53%;
display: flex;
justify-content: space-evenly;
margin-right: 75px;
}
#middle>div>#middle-chile-right>a{
font-size: 25px;
color: black;
}

/* nav section start from here to ///////////////// */
#nav{
width: 100%;
background-color: rgba(14, 12, 12, 0.991);

}
#nav-item{
width: 75%;
display: flex;
justify-content: space-evenly;
align-items: center;
margin: auto;
flex-wrap: wrap;
flex-shrink: 2;
}
#nav-item>a{
font-size: 13px;
color: rgba(255, 255, 255, 0.926);
font-weight: 200;
text-decoration: none;
}
#nav-item>a:hover{
color: rgb(189, 185, 185);
}
#gift{
padding: 13px 5px 13px 30px;
background-color:rgb(230, 68, 122);
}
/* nav section end */
/* header section  till here  */

/* all body part from here */

/* top div secton from here */
#top-div{
width: 100%;
background-image: linear-gradient(to right,green,yellow);
text-align: center;
margin-top: 130px;
}
#top-div>a{
text-decoration: none;
}
#top-div>a>h3{
padding-top: 10px;
color: black;
}
#top-div>a>h5{
padding: 0px 0px 20px 0px;
color: rgb(62, 60, 60);

}
/* top div section till here  */
/* home image part  */
#home-div{
width: 100%;
height: 700px;
background-image: url("https://www.yoox.com/images/yoox80/banners/6895_1_Genz_WM_Main.png?634485886869569819&impolicy=cropDefault&width=960&height=510");
background-repeat: no-repeat;
background-size: cover;
}
#home-div-child{
position: relative;
top: 77%;
left: 10px;
width: 400px;
height: 150px;
background-color: white;
}
#home-div-child>h2{
padding-top:20px ;
padding-left: 20px;
}
#home-div-child>p{
padding-left: 20px;
padding-top: 15px;
color: rgb(146, 138, 138);
}
#home-div-child>div{
width: 60%;
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 20px;
padding-top: 20px;    
}
#home-div-child>div>a{
font-size: 13px;
color: rgb(77, 73, 73);
}
@media screen and (max-width:700px){
    #home-div{
        background-image: url("https://www.yoox.com/images/yoox80/banners/6825_1_Boss_W_Tris.jpg?634485886601286852#width=473&height=660");
    }
    #home-div-child{
        width: 100%;
        left: 0;
        top: 78%;
    }
}
#bottom-div{
    width: 100%;
    height: 700px;
    background-image: url("https://www.yoox.com/images/yoox80/banners/6824_1_XmasGift_WM_Bottom.jpg?634485886601286852&impolicy=cropDefault&width=960&height=510");
    background-repeat: no-repeat;
    background-size: cover;
    }
 
/* second part  */
#main-div{
    width: 100%;
    margin-top: 50px;
}
#main-div>#main-child-div{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    padding-top: 60px;
    position:relative;
    z-index: 1;
}

#main-div>#main-child-div>div{
    width: 28%;   
    background-color: white;
    text-align: center;
}
#main-div>#main-child-div>div>img{
    width: 100%;
}
#links{
    width: 26%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    left: 37%;
    bottom: -135%;
    z-index: 2;
}
#links>a{
    padding-bottom: 15px;
    text-align: center;
    font-size: 14px;
    color: rgb(52, 45, 45);
    font-weight: bolder;
    text-decoration: none;
}
#links>a:hover{
    color: rgb(168, 159, 159);
}
#links>h4{
    padding: 20px 0px 30px 0px;
    color: rgb(168, 159, 159);
    text-align: center;
}
#view-all{
    padding-top: 50px;
    text-decoration: underline;
}
#main-btn{
    display: flex;
    justify-content: space-evenly;
}
#main-btn>a{
    font-size: 14px;
    color: black;
}
#main-child-div>div>h3{
    padding-top: 20px;
}
@media  screen and (max-width: 1200px) {
    #main-div>#main-child-div>div{
        width: 49%;
        margin: auto;
    }
    #links{
        display: none;
    }
}
@media screen and (max-width:750px) {
    #main-div>#main-child-div{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
    }
    #main-div>#main-child-div>div{
        width: 100%;
        margin: auto;
    }
}
/* ///////////////////////////////////////////////////////////////// */

#design{
    width: 100%;
    margin-top: 50px;
    background-color: rgb(250, 248, 244);
}
#design>#outer{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px;
    text-align: center;
    padding-bottom: 100px;
}
#design>#outer>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#design>#outer>div>img{
    width: 100%;
}
#design>#outer>div>img{
    width: 100%;
}
.p{color: rgb(197, 191, 191);
padding: 10px 0px;}
p{
    font-size: 15px;
}
#heading-div{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
#heading-div>h1{
    color: gray;
}
#heading-div>a{
    font-size: 15px;
    text-decoration: none;  
    padding-top: 30px;   
    display: block;  
    color: black;  
}
#heading-div>a:hover{
    text-decoration: underline;
    color:rgb(197, 191, 191) ;
}
.bottom{
    padding-bottom: 20px;
}

/* third part here  */

#next-part{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#next-part>div{
    width: 30%;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
#next-part>#center-div{
    width: 35%; 
    padding-top: 50px;
    padding-bottom: 50px; 
    text-align: center;      
}
#next-part>div>img{
    width: 100%;
}
#next-part>div>h2{
    padding-top: 10px;
    padding-bottom: 10px;
}
#next-part>div>a{
  text-decoration: none;
  color: rgb(184, 182, 182);
}
@media screen and (max-width:750px){
    #next-part{
        flex-direction: column;
    }
    #next-part>div{
        width: 100%;
    }
    #next-part>#center-div{
        width: 100%;
    }
    #design>#outer{
        grid-template-columns: repeat(1,1fr);
    }
}

/* till here /////////////////////////////////////// */



/* footer part  */
#footer{
    width: 100%;
    margin-top: 40px;
    background-color: rgb(250, 248, 244);
}
/* footer top here  */
#footer>#footer-top{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
#footer>#footer-top>.top-child{
    width: 18%;
    display: flex;
    flex-direction: column;
    text-align: center;
  
}
#footer>#footer-top>.top-child>a, #footer>#footer-top>.top-child,h3{
    padding-bottom: 15px;
    word-spacing: 3px;
    text-decoration: none;
}
#footer>#footer-top>.top-child>a{
    font-size: 13px;
    color: rgb(87, 79, 79);
    font-weight: bolder;
    font-family: 'EB Garamond', serif;
}
#footer>#footer-top>.top-child>a:hover{
    color: black;
    font-size: 20px;
}
#top-middle{
    width: 25%;
    text-align: center;
    padding-top: 30px;
    background-color: white;
}
#top-middle>input{
    width: 200px;
    height: 60px;
    border: 0px;
    padding-top: 15px;
}
#top-middle>::placeholder{
    font-size: 17px;
    color: rgb(215, 206, 206);
}
#top-middle>#gender{
    display:flex;
    justify-content: space-between;
}
#top-middle>#checkbox{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
#top-middle>#checkbox>a{
    text-decoration: none;
    color: rgb(30, 29, 29);
}

#top-middle>a>button{
    width: 250px;
    height: 40px;
    background-color: rgb(55, 46, 46);
    color: white;
  font-size: 17px;
  margin-top: 10px;
}
#top-middle>a>button:hover{
    cursor: pointer;
}
hr{
    width: 30%;
    margin-left: 35%;
    margin-bottom: 10px;
}
/* footer middle section here  */
 #footer-middle{
    width: 75%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 60px;
 }
 #footer-middle>#top-child{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
 }
 #footer-middle>#top-child i{
    font-size: 22px;
    color:rgb(93, 88, 88);
 }
 #footer-middle>#top-child>#facebook>:hover{
    color: blue;
 }
 #footer-middle>#top-child>p{
    font-size: 13px;
 }
 #footer-middle>#top-child>#twitter>:hover{
    color: cyan;
 }
 #footer-middle>#top-child>#youtube>:hover{
    color: red;
 }
 #footer-middle>#top-child>#instagram>:hover{
    color: rgb(156, 15, 15);
 }
 #footer-middle>#top-child>#pinterest>:hover{
    color: red;
 }
 #footer-middle>#top-child>#tiktok>:hover{
    color: black;
 }
 #footer-middle>#bottom-child>#mobile{
       font-size: 30px;  
       color:rgb(93, 88, 88);
 }
 #footer-middle>#bottom-child>#download{
    font-size: 12px;
    word-spacing: 4px;
    color:rgb(93, 88, 88);
    text-decoration: none;
 }
 /* footer bottom */
 #footer-bottom{
    width: 100%;
    background-color: rgb(61, 57, 57);
    margin-top: 20px;
 }
 #footer-bottom>#paragraph{
    font-size: 13px;
    color: white;
    text-align: center;
    padding-top: 50px;
 }
 #footer-bottom>#link{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
 }
 #footer-bottom>#link>a{
    color: rgb(137, 130, 130);
    font-size: 13px;
    text-decoration: none;
    margin-top: 10px;
    padding-right: 20px;
 }
